<div style="background-color: #fff">
    <div class="title">
      <%= @article.title %>
    </div>
    <div>
      <%= @article.text %>
    </div>

</div>
<div style="background-color: #fff">
  <h2>Comments</h2>
  <%= render 'comments/form' %>
</div>
<div>
  <%= render @article.comments %>
</div>


<%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-primary'%> |
<%= link_to 'Back', articles_path, class: 'btn btn-default'%>
